{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Edit tour details</h1>
        {% if session['email'] == tour.owner %}
        <form name="edit_tour" action="" method="POST">
            <div class="form-group">
                <label for="tourName">Tour name:</label>
                <input type="email" class="form-control" id="tourName" value={{ tour.tour_name }}>
            </div>
            <div class="form-group">
                <label for="tourLocation">Tour location:</label>
                <select class="form-control" id="tourLocation">
                    <option value="" disabled selected>Choose Country</option>
                    {% for country in countries %}
                    {% if country.country == tour.tour_country %}
                    <option value="{{country.country}}" selected>{{country.country|capitalize}}</option>
                    {% else %}
                    <option value="{{country.country}}">{{country.country|capitalize}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="tourLength">Tour length:</label>
                <select class="form-control" id="tourLength">
                    <option value="" disabled selected>Tour Length</option>
                    {% for length in tour_length %}
                    {% if length.tour_length == tour.tour_length %}
                    <option value="{{length.tour_length}}" selected>{{length.tour_length}} day(s)</option>
                    {% else %}
                    <option value="{{length.tour_length}}">{{length.tour_length}} day(s)</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-2 mr-sm-2">
                    <label for="tourPrice" class="col-12">Tour price:</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">€</div>
                </div>
                <input type="text" class="form-control" id="tourPrice" value={{ tour.tour_price }}>
            </div>
            <input class="btn btn-submit btn-success" type="submit" name="submit" value="Update item">
        </form>
        {% else: %}
        <p>You need to be use an email assigned to this tour. <br />Click here to <a href="{{ url_for('login') }}">log
                in</a> with a correct account.</p>
        {% endif %}
        <div class="mt-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>


{% endblock %}