{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid hero-image">
    <div class="container">
        <div class="col-md-6 p-4 hero-box">
            <h1 class="display-4">Welcome to TravelBuddy</h1>
            <p class="lead">TravelBuddy offers a unique tourist experience with a help of our lovely hosts, offering you
                a cosy accommodation and a personalised journey in their hometown.</p>
            <hr class="my-4 white-line">
            <p>Browse a large selection of hosts and plan your next vacation.</p>
            <a href="{{ url_for('tours') }}" class="btn btn-primary">Browse Tours</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="mt-4 mb-3">Most popular locations this month</h3>
        </div>
        <div class="col-12">
            <div class="owl-carousel">
                {% for single_tour in tours %}
                <div class="item mb-4">
                    <div class="card shadow">
                        <img src="https://source.unsplash.com/{{ single_tour['tour_photo1'] }}/253x160"
                            class="card-img-top" alt="{{ single_tour['tour_name']|lower }}" alt="{{ single_tour['tour_name'] }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ single_tour['tour_name']}}</h5>
                            <h6 class="card-subtitle mb-2">{{ single_tour["tour_description"]|truncate(75) }}</h6>
                            <a href="{{ url_for('tours_location', country=single_tour['tour_country']) }}">
                                <h6 class="card-subtitle my-2">{{ single_tour["tour_country"]|upper }}</h6>
                            </a>
                            <p class="card-text"><a
                                    href="{{ url_for('tours_length', length=single_tour['tour_length']) }}">
                                    {{ single_tour["tour_length"] }}
                                    {% if single_tour["tour_length"] < 2: %} day
                                    {% else: %}
                                    days
                                    {% endif %}</a>
                                <br />
                                From €{{ (single_tour['tour_price']) }}/person</p>
                            <a href="{{ url_for('tour', tour_id=single_tour['_id'], tour_slug=single_tour['tour_slug']) }}"
                                class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}