{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9 shadow-sm">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
                <img src="{{ url_for('static', filename='images/login_splash.jpg') }}">
            </div>
            <div class="col-lg-6 text-center p-3">
                <h1>Welcome back!</h1>
                <h6>Please use the form below to login into your account.</h6>
                <form name="login" action="" method="POST">
                    {{ form.hidden_tag() }}
                    <p class="mt-5">
                        {{ form.email.label }}&nbsp;&nbsp;{{ form.email(size=30) }}
                    </p>
                    <br class="clear">
                    <input class="btn btn-primary" type="submit" name="submit" value="Login">
                </form>
                <p class="mt-5">Dont' have the account? <br/><a href="{{ url_for('register') }}">Register here</a></p>
                <div class="mt-4">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="flashes">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}